doc
app/config/database.php
app/tmp
app/config/core.php
backend/db/*.sqlite
frontend/*.sqlite
nbproject/
.bundle
db/*.sqlite3
log/
log/*.log
tmp/**/*
*~
*.cache
*.log
*.pid
.DS_Store
.redcar
db/cstore/**
db/sphinx/**
coverage/*
dispatch.*
.htaccess
db/schema.rb
schema.rb
public/system/
coverage/
.com.apple.timemachine.supported
database.yml
tmp/
backend/public/system
results/
*.esproj
redis-2.0.4
dump.rdb
all.compacted.css
all.compacted.js
frontend/log/newrelic_agent_store.db
Gemfile.lock
template/PSD/
template/documentation.pdf
coverage
